.citation {
    font-family: 'Roboto';
    color: #ABB2BF;
    background-color: inherit;
    border: none;
    margin: 0.2cm 0;
    text-align: center;
}

.citation a {
    text-decoration: none;
    color: #ABB2BF;
}

.citation a:visited {
    color: #ABB2BF;
}

.citation a:hover {
    color: #ABB2BF;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.citation ul {
    list-style: none;
    padding: 0;
    margin: 0.1cm;
}

li.author {
    font-family: 'Roboto';
    font-size: small;
}

li.title {
    font-family: 'Roboto';
}

li.journal {
    color: #828997;
    font-size: small;
}

#academics-right hr {
    margin: auto;
    max-width: 8cm;
    min-width: 2cm;
}