.card-row {
    padding: 0.25cm 0.25cm;
}

.card-break {
    margin-top: 0.75cm;
}

.card {
    background-color: inherit;
    color: inherit;
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
    padding: 0.25cm;
    border-color: #ABB2BF;
    text-decoration: none;
}

.card:visited {
    color: #ABB2BF;
    border-color: #ABB2BF;
}

.card:hover {
    color: #ABB2BF;
    border-color: #ABB2BF;
}

.card-title {
    margin-bottom: 0.15cm;
    text-align: left;
    font-size: 1.2em;
}

.card-body {
    padding: 0.05cm;
    margin: 0;
    font-size: smaller;
    font-family: 'Roboto';
    font-size: 0.9em;
    text-align: left;
}

.card-text {
    display: inline-block;
}

img.icon {
    max-height: 1cm;
    max-width: 1cm;
}

img.badg {
    margin-left: 0.25cm;
}