html {
    height: 100%;
}

body {
    background-color: #20242C;
    color: #ABB2BF;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    padding-bottom: 0.5cm;
    min-height: 100%;
}

#name {
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 1cm;
    font-size: 3em;
    margin: 0 auto;
}

#main {
    max-width: 10in;
    margin: auto;
}

.accordion-button h4 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
}

.accordion-button:not(.collapse) {
    background-color: #282C34;
    color: #ABB2BF;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.accordion-body {
    background-color: #282C34;
    color: 	#ABB2BF;
    padding: 0;
}

.left-column {
    text-align: left;
    background-color: #1c1f24;
    position: relative;
}

pre {
    margin: 0.3cm 0;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    color: #ABB2BF;
}

.fast-forward {
    position: absolute;
    right: 0.2cm;
    top: 0.2cm;
    cursor: pointer;
}

.fast-forward img {
    opacity: 0.7;
    width: 1cm;
    height: 1cm;
    border: 1px solid #ABB2BF;
    border-radius: 0.1cm;
    padding: 0.25cm;
}